$yellow: #ffd801;

.header{
	background: url(../img/header_bg.png);
	background-size: cover;
	height: 617px;
	color: white;

	.logo{
		padding: 40px 0 0 80px;

		.logo__h1-logo{
			font:38px "Ubuntu-L", Arial;
			margin: 0px;

			.logo__span-color{
				color: $yellow;
			}
		}

		.logo-desk{
			font-size: 10px;
			position: relative;

			&:after{
				content: "";
				position: absolute;
				height: 30px;
				background: #525252;
				width: 1px;
				left: 48px;
				top: 0px;
			}

			.logo-row{
				display: block;
			}

			div{
				padding-right: 15px;
				display: inline-block;
			}
		}
	}

	.menu{
		padding: 50px 70px 0 0;
		float: right;
		font: 12px Ubuntu-B, Arial;

		&:after{
			content: "";
			clear: both;
		}

		.menu__menu-desk{
			float: right;

			.menu-row1{
				display: block;
				margin-right: 75px;
			}

			.menu-row1 > div{
				display: inline-block;
			}

			.menu-row2{
				display: block;
				text-align: center;
			}

			.menu-row2 > div{
				font-size: 9px;
				padding-top: 5px;
				display: inline-block;

				i{
					font-size: 12px;
					padding-right: 5px;
				}
			}

			.mobile2{
				position: relative;

				&:before{
					content: "/";
					position: absolute;
					left: -10px;
					font-family: "Ubuntu-L";
				}
			}

			.butt_menu{
				cursor: pointer;
				padding:0 8px 0 20px;
				float: right;

				i{
					display: block;
  					border: 2px solid #ffd801;
    				font-size: 15px;
    				padding: 7px 9px;
				}
			}

			.menu-row1 div:first-child, .menu-row2 div:first-child{
				padding-right: 25px;
			}
		}
	}

	.header__row2{
		margin-top: 60px;

		.head-content{
			padding-left: 285px;
			padding-right: 0;
			position: relative;

			.head-content__h1{
				font:35px "Ubuntu-B", Arial; 
				position: relative;
				margin-bottom: 5px;

				&:before{
					content: "";
					position: absolute;
					height: 35px;
					background: $yellow;
					width: 6px;
					left: -25px;
					top: 5px;
				}
			}

			.head-content__h2{
				font: 34px "Ubuntu-L", Arial;
				margin: 0;
			}

			p{
				margin-top: 20px;
				font: 12px "Ubuntu-L", Arial;
			}
			form{
				margin-top: 60px;

				input{
					padding-left: 10px;
					font: 12px "Ubuntu-L", Arial;
					width: 130px;
					height: 35px;
					border-radius: 4px;
					margin-right: 5px;
					color: #333;
				}

				button{
					margin-left: 20px;
					background: $yellow;
					padding: 10px 28px;
					border: 0;
					color: #333;
					font-size: 11px;
					border-radius: 4px;
					cursor: pointer;
				}

				.header-span{
					display: block;
					font: 12px "Ubuntu-L", Arial;
					margin: 15px 0 0 25px;
					color: #a8a7a8;
				}
			}

			.header__ul{
				padding: 0;
				margin: 40px 0 0 25px;
				font: 12px "Ubuntu-L", Arial;

				li{
					display: inline-block;
					margin-right: 60px;
					position: relative;

					&:before{
						content: "";
						position: absolute;
						background: url(../img/range.png);
						height: 9px;
						width: 9px;
						top: 2px;
						left: -15px;
					}
				}
			}
		}		
	}
}











