// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$contacts-name: 'contacts';
$contacts-x: 206px;
$contacts-y: 0px;
$contacts-offset-x: -206px;
$contacts-offset-y: 0px;
$contacts-width: 39px;
$contacts-height: 47px;
$contacts-total-width: 267px;
$contacts-total-height: 196px;
$contacts-image: 'sprite.png';
$contacts: (206px, 0px, -206px, 0px, 39px, 47px, 267px, 196px, 'sprite.png', 'contacts', );
$crown-name: 'crown';
$crown-x: 0px;
$crown-y: 43px;
$crown-offset-x: 0px;
$crown-offset-y: -43px;
$crown-width: 72px;
$crown-height: 54px;
$crown-total-width: 267px;
$crown-total-height: 196px;
$crown-image: 'sprite.png';
$crown: (0px, 43px, 0px, -43px, 72px, 54px, 267px, 196px, 'sprite.png', 'crown', );
$days-name: 'days';
$days-x: 87px;
$days-y: 146px;
$days-offset-x: -87px;
$days-offset-y: -146px;
$days-width: 45px;
$days-height: 44px;
$days-total-width: 267px;
$days-total-height: 196px;
$days-image: 'sprite.png';
$days: (87px, 146px, -87px, -146px, 45px, 44px, 267px, 196px, 'sprite.png', 'days', );
$design-name: 'design';
$design-x: 41px;
$design-y: 146px;
$design-offset-x: -41px;
$design-offset-y: -146px;
$design-width: 46px;
$design-height: 44px;
$design-total-width: 267px;
$design-total-height: 196px;
$design-image: 'sprite.png';
$design: (41px, 146px, -41px, -146px, 46px, 44px, 267px, 196px, 'sprite.png', 'design', );
$featlist-name: 'featlist';
$featlist-x: 206px;
$featlist-y: 92px;
$featlist-offset-x: -206px;
$featlist-offset-y: -92px;
$featlist-width: 38px;
$featlist-height: 36px;
$featlist-total-width: 267px;
$featlist-total-height: 196px;
$featlist-image: 'sprite.png';
$featlist: (206px, 92px, -206px, -92px, 38px, 36px, 267px, 196px, 'sprite.png', 'featlist', );
$first-name: 'first';
$first-x: 245px;
$first-y: 55px;
$first-offset-x: -245px;
$first-offset-y: -55px;
$first-width: 21px;
$first-height: 21px;
$first-total-width: 267px;
$first-total-height: 196px;
$first-image: 'sprite.png';
$first: (245px, 55px, -245px, -55px, 21px, 21px, 267px, 196px, 'sprite.png', 'first', );
$four-name: 'four';
$four-x: 245px;
$four-y: 76px;
$four-offset-x: -245px;
$four-offset-y: -76px;
$four-width: 21px;
$four-height: 21px;
$four-total-width: 267px;
$four-total-height: 196px;
$four-image: 'sprite.png';
$four: (245px, 76px, -245px, -76px, 21px, 21px, 267px, 196px, 'sprite.png', 'four', );
$garantia-name: 'garantia';
$garantia-x: 0px;
$garantia-y: 97px;
$garantia-offset-x: 0px;
$garantia-offset-y: -97px;
$garantia-width: 47px;
$garantia-height: 49px;
$garantia-total-width: 267px;
$garantia-total-height: 196px;
$garantia-image: 'sprite.png';
$garantia: (0px, 97px, 0px, -97px, 47px, 49px, 267px, 196px, 'sprite.png', 'garantia', );
$group-name: 'group_';
$group-x: 206px;
$group-y: 47px;
$group-offset-x: -206px;
$group-offset-y: -47px;
$group-width: 37px;
$group-height: 45px;
$group-total-width: 267px;
$group-total-height: 196px;
$group-image: 'sprite.png';
$group-: (206px, 47px, -206px, -47px, 37px, 45px, 267px, 196px, 'sprite.png', 'group_', );
$idea-name: 'idea';
$idea-x: 162px;
$idea-y: 97px;
$idea-offset-x: -162px;
$idea-offset-y: -97px;
$idea-width: 32px;
$idea-height: 37px;
$idea-total-width: 267px;
$idea-total-height: 196px;
$idea-image: 'sprite.png';
$idea: (162px, 97px, -162px, -97px, 32px, 37px, 267px, 196px, 'sprite.png', 'idea', );
$idea-yel-name: 'idea_yel';
$idea-yel-x: 130px;
$idea-yel-y: 97px;
$idea-yel-offset-x: -130px;
$idea-yel-offset-y: -97px;
$idea-yel-width: 32px;
$idea-yel-height: 37px;
$idea-yel-total-width: 267px;
$idea-yel-total-height: 196px;
$idea-yel-image: 'sprite.png';
$idea-yel: (130px, 97px, -130px, -97px, 32px, 37px, 267px, 196px, 'sprite.png', 'idea_yel', );
$lending-name: 'lending';
$lending-x: 124px;
$lending-y: 45px;
$lending-offset-x: -124px;
$lending-offset-y: -45px;
$lending-width: 63px;
$lending-height: 43px;
$lending-total-width: 267px;
$lending-total-height: 196px;
$lending-image: 'sprite.png';
$lending: (124px, 45px, -124px, -45px, 63px, 43px, 267px, 196px, 'sprite.png', 'lending', );
$mouse-name: 'mouse';
$mouse-x: 206px;
$mouse-y: 128px;
$mouse-offset-x: -206px;
$mouse-offset-y: -128px;
$mouse-width: 22px;
$mouse-height: 61px;
$mouse-total-width: 267px;
$mouse-total-height: 196px;
$mouse-image: 'sprite.png';
$mouse: (206px, 128px, -206px, -128px, 22px, 61px, 267px, 196px, 'sprite.png', 'mouse', );
$mouse2-name: 'mouse2';
$mouse2-x: 245px;
$mouse2-y: 0px;
$mouse2-offset-x: -245px;
$mouse2-offset-y: 0px;
$mouse2-width: 22px;
$mouse2-height: 55px;
$mouse2-total-width: 267px;
$mouse2-total-height: 196px;
$mouse2-image: 'sprite.png';
$mouse2: (245px, 0px, -245px, 0px, 22px, 55px, 267px, 196px, 'sprite.png', 'mouse2', );
$portfolio-name: 'portfolio';
$portfolio-x: 47px;
$portfolio-y: 97px;
$portfolio-offset-x: -47px;
$portfolio-offset-y: -97px;
$portfolio-width: 51px;
$portfolio-height: 43px;
$portfolio-total-width: 267px;
$portfolio-total-height: 196px;
$portfolio-image: 'sprite.png';
$portfolio: (47px, 97px, -47px, -97px, 51px, 43px, 267px, 196px, 'sprite.png', 'portfolio', );
$price-name: 'price';
$price-x: 72px;
$price-y: 43px;
$price-offset-x: -72px;
$price-offset-y: -43px;
$price-width: 51px;
$price-height: 49px;
$price-total-width: 267px;
$price-total-height: 196px;
$price-image: 'sprite.png';
$price: (72px, 43px, -72px, -43px, 51px, 49px, 267px, 196px, 'sprite.png', 'price', );
$range-name: 'range';
$range-x: 245px;
$range-y: 139px;
$range-offset-x: -245px;
$range-offset-y: -139px;
$range-width: 9px;
$range-height: 9px;
$range-total-width: 267px;
$range-total-height: 196px;
$range-image: 'sprite.png';
$range: (245px, 139px, -245px, -139px, 9px, 9px, 267px, 196px, 'sprite.png', 'range', );
$second-name: 'second';
$second-x: 245px;
$second-y: 118px;
$second-offset-x: -245px;
$second-offset-y: -118px;
$second-width: 21px;
$second-height: 21px;
$second-total-width: 267px;
$second-total-height: 196px;
$second-image: 'sprite.png';
$second: (245px, 118px, -245px, -118px, 21px, 21px, 267px, 196px, 'sprite.png', 'second', );
$security-name: 'security';
$security-x: 132px;
$security-y: 146px;
$security-offset-x: -132px;
$security-offset-y: -146px;
$security-width: 26px;
$security-height: 40px;
$security-total-width: 267px;
$security-total-height: 196px;
$security-image: 'sprite.png';
$security: (132px, 146px, -132px, -146px, 26px, 40px, 267px, 196px, 'sprite.png', 'security', );
$tafit-first-name: 'tafit-first';
$tafit-first-x: 98px;
$tafit-first-y: 97px;
$tafit-first-offset-x: -98px;
$tafit-first-offset-y: -97px;
$tafit-first-width: 32px;
$tafit-first-height: 41px;
$tafit-first-total-width: 267px;
$tafit-first-total-height: 196px;
$tafit-first-image: 'sprite.png';
$tafit-first: (98px, 97px, -98px, -97px, 32px, 41px, 267px, 196px, 'sprite.png', 'tafit-first', );
$tarif-second-name: 'tarif-second';
$tarif-second-x: 0px;
$tarif-second-y: 0px;
$tarif-second-offset-x: 0px;
$tarif-second-offset-y: 0px;
$tarif-second-width: 124px;
$tarif-second-height: 43px;
$tarif-second-total-width: 267px;
$tarif-second-total-height: 196px;
$tarif-second-image: 'sprite.png';
$tarif-second: (0px, 0px, 0px, 0px, 124px, 43px, 267px, 196px, 'sprite.png', 'tarif-second', );
$tarif-vip-name: 'tarif-vip';
$tarif-vip-x: 124px;
$tarif-vip-y: 0px;
$tarif-vip-offset-x: -124px;
$tarif-vip-offset-y: 0px;
$tarif-vip-width: 82px;
$tarif-vip-height: 45px;
$tarif-vip-total-width: 267px;
$tarif-vip-total-height: 196px;
$tarif-vip-image: 'sprite.png';
$tarif-vip: (124px, 0px, -124px, 0px, 82px, 45px, 267px, 196px, 'sprite.png', 'tarif-vip', );
$third-name: 'third';
$third-x: 245px;
$third-y: 97px;
$third-offset-x: -245px;
$third-offset-y: -97px;
$third-width: 21px;
$third-height: 21px;
$third-total-width: 267px;
$third-total-height: 196px;
$third-image: 'sprite.png';
$third: (245px, 97px, -245px, -97px, 21px, 21px, 267px, 196px, 'sprite.png', 'third', );
$we-name: 'we';
$we-x: 0px;
$we-y: 146px;
$we-offset-x: 0px;
$we-offset-y: -146px;
$we-width: 41px;
$we-height: 50px;
$we-total-width: 267px;
$we-total-height: 196px;
$we-image: 'sprite.png';
$we: (0px, 146px, 0px, -146px, 41px, 50px, 267px, 196px, 'sprite.png', 'we', );
$spritesheet-width: 267px;
$spritesheet-height: 196px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($contacts, $crown, $days, $design, $featlist, $first, $four, $garantia, $group-, $idea, $idea-yel, $lending, $mouse, $mouse2, $portfolio, $price, $range, $second, $security, $tafit-first, $tarif-second, $tarif-vip, $third, $we, );
$spritesheet: (267px, 196px, 'sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(../img/sprite/sprite.png);
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
