// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$contacts-name: 'contacts';
$contacts-x: 0px;
$contacts-y: 92px;
$contacts-offset-x: 0px;
$contacts-offset-y: -92px;
$contacts-width: 39px;
$contacts-height: 47px;
$contacts-total-width: 203px;
$contacts-total-height: 139px;
$contacts-image: 'sprite.png';
$contacts: (0px, 92px, 0px, -92px, 39px, 47px, 203px, 139px, 'sprite.png', 'contacts', );
$design-name: 'design';
$design-x: 63px;
$design-y: 43px;
$design-offset-x: -63px;
$design-offset-y: -43px;
$design-width: 46px;
$design-height: 44px;
$design-total-width: 203px;
$design-total-height: 139px;
$design-image: 'sprite.png';
$design: (63px, 43px, -63px, -43px, 46px, 44px, 203px, 139px, 'sprite.png', 'design', );
$featlist-name: 'featlist';
$featlist-x: 114px;
$featlist-y: 50px;
$featlist-offset-x: -114px;
$featlist-offset-y: -50px;
$featlist-width: 38px;
$featlist-height: 36px;
$featlist-total-width: 203px;
$featlist-total-height: 139px;
$featlist-image: 'sprite.png';
$featlist: (114px, 50px, -114px, -50px, 38px, 36px, 203px, 139px, 'sprite.png', 'featlist', );
$first-name: 'first';
$first-x: 177px;
$first-y: 61px;
$first-offset-x: -177px;
$first-offset-y: -61px;
$first-width: 21px;
$first-height: 21px;
$first-total-width: 203px;
$first-total-height: 139px;
$first-image: 'sprite.png';
$first: (177px, 61px, -177px, -61px, 21px, 21px, 203px, 139px, 'sprite.png', 'first', );
$four-name: 'four';
$four-x: 177px;
$four-y: 40px;
$four-offset-x: -177px;
$four-offset-y: -40px;
$four-width: 21px;
$four-height: 21px;
$four-total-width: 203px;
$four-total-height: 139px;
$four-image: 'sprite.png';
$four: (177px, 40px, -177px, -40px, 21px, 21px, 203px, 139px, 'sprite.png', 'four', );
$idea-name: 'idea';
$idea-x: 39px;
$idea-y: 92px;
$idea-offset-x: -39px;
$idea-offset-y: -92px;
$idea-width: 32px;
$idea-height: 37px;
$idea-total-width: 203px;
$idea-total-height: 139px;
$idea-image: 'sprite.png';
$idea: (39px, 92px, -39px, -92px, 32px, 37px, 203px, 139px, 'sprite.png', 'idea', );
$idea-yel-name: 'idea_yel';
$idea-yel-x: 71px;
$idea-yel-y: 92px;
$idea-yel-offset-x: -71px;
$idea-yel-offset-y: -92px;
$idea-yel-width: 32px;
$idea-yel-height: 37px;
$idea-yel-total-width: 203px;
$idea-yel-total-height: 139px;
$idea-yel-image: 'sprite.png';
$idea-yel: (71px, 92px, -71px, -92px, 32px, 37px, 203px, 139px, 'sprite.png', 'idea_yel', );
$lending-name: 'lending';
$lending-x: 0px;
$lending-y: 0px;
$lending-offset-x: 0px;
$lending-offset-y: 0px;
$lending-width: 63px;
$lending-height: 43px;
$lending-total-width: 203px;
$lending-total-height: 139px;
$lending-image: 'sprite.png';
$lending: (0px, 0px, 0px, 0px, 63px, 43px, 203px, 139px, 'sprite.png', 'lending', );
$mouse-name: 'mouse';
$mouse-x: 155px;
$mouse-y: 0px;
$mouse-offset-x: -155px;
$mouse-offset-y: 0px;
$mouse-width: 22px;
$mouse-height: 61px;
$mouse-total-width: 203px;
$mouse-total-height: 139px;
$mouse-image: 'sprite.png';
$mouse: (155px, 0px, -155px, 0px, 22px, 61px, 203px, 139px, 'sprite.png', 'mouse', );
$mouse2-name: 'mouse2';
$mouse2-x: 155px;
$mouse2-y: 61px;
$mouse2-offset-x: -155px;
$mouse2-offset-y: -61px;
$mouse2-width: 22px;
$mouse2-height: 55px;
$mouse2-total-width: 203px;
$mouse2-total-height: 139px;
$mouse2-image: 'sprite.png';
$mouse2: (155px, 61px, -155px, -61px, 22px, 55px, 203px, 139px, 'sprite.png', 'mouse2', );
$portfolio-name: 'portfolio';
$portfolio-x: 63px;
$portfolio-y: 0px;
$portfolio-offset-x: -63px;
$portfolio-offset-y: 0px;
$portfolio-width: 51px;
$portfolio-height: 43px;
$portfolio-total-width: 203px;
$portfolio-total-height: 139px;
$portfolio-image: 'sprite.png';
$portfolio: (63px, 0px, -63px, 0px, 51px, 43px, 203px, 139px, 'sprite.png', 'portfolio', );
$price-name: 'price';
$price-x: 0px;
$price-y: 43px;
$price-offset-x: 0px;
$price-offset-y: -43px;
$price-width: 51px;
$price-height: 49px;
$price-total-width: 203px;
$price-total-height: 139px;
$price-image: 'sprite.png';
$price: (0px, 43px, 0px, -43px, 51px, 49px, 203px, 139px, 'sprite.png', 'price', );
$range-name: 'range';
$range-x: 177px;
$range-y: 124px;
$range-offset-x: -177px;
$range-offset-y: -124px;
$range-width: 9px;
$range-height: 9px;
$range-total-width: 203px;
$range-total-height: 139px;
$range-image: 'sprite.png';
$range: (177px, 124px, -177px, -124px, 9px, 9px, 203px, 139px, 'sprite.png', 'range', );
$second-name: 'second';
$second-x: 177px;
$second-y: 82px;
$second-offset-x: -177px;
$second-offset-y: -82px;
$second-width: 21px;
$second-height: 21px;
$second-total-width: 203px;
$second-total-height: 139px;
$second-image: 'sprite.png';
$second: (177px, 82px, -177px, -82px, 21px, 21px, 203px, 139px, 'sprite.png', 'second', );
$security-name: 'security';
$security-x: 177px;
$security-y: 0px;
$security-offset-x: -177px;
$security-offset-y: 0px;
$security-width: 26px;
$security-height: 40px;
$security-total-width: 203px;
$security-total-height: 139px;
$security-image: 'sprite.png';
$security: (177px, 0px, -177px, 0px, 26px, 40px, 203px, 139px, 'sprite.png', 'security', );
$third-name: 'third';
$third-x: 177px;
$third-y: 103px;
$third-offset-x: -177px;
$third-offset-y: -103px;
$third-width: 21px;
$third-height: 21px;
$third-total-width: 203px;
$third-total-height: 139px;
$third-image: 'sprite.png';
$third: (177px, 103px, -177px, -103px, 21px, 21px, 203px, 139px, 'sprite.png', 'third', );
$we-name: 'we';
$we-x: 114px;
$we-y: 0px;
$we-offset-x: -114px;
$we-offset-y: 0px;
$we-width: 41px;
$we-height: 50px;
$we-total-width: 203px;
$we-total-height: 139px;
$we-image: 'sprite.png';
$we: (114px, 0px, -114px, 0px, 41px, 50px, 203px, 139px, 'sprite.png', 'we', );
$spritesheet-width: 203px;
$spritesheet-height: 139px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($contacts, $design, $featlist, $first, $four, $idea, $idea-yel, $lending, $mouse, $mouse2, $portfolio, $price, $range, $second, $security, $third, $we, );
$spritesheet: (203px, 139px, 'sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(../img/sprite/sprite.png); 
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
