.bid{
    position: fixed;
    overflow-y: scroll;
    margin: 0;
    background: rgba(0, 0, 0, 0.96);
    z-index: 1;
    display: none;
    overflow: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

	&__content{
		width: 100%;
		position: relative;
		display: flex;
		justify-content: center;
		padding-top: 200px;		
	}

	&__left-content{
		width:250px; 
		height: 320px;
	}

	&__right-content{
		display: flex;
		height: 320px;
		position: relative;
		align-items: center;
		padding-top: 75px;

		.bid__list{
			font: 14px "Ubuntu-L", Arial;
			color: white;
			list-style-type: none;
			margin-left: 150px;
			margin-bottom: 0;
			padding: 0;
			position: relative;

			li{
				margin-bottom: 55px;
				position: relative;
			}

			.bid__mediator::before{
				content: "";
				left: -60px;
				top: -15px;
				position: absolute;
				@include sprite($group_);
			}

			.bid__days::before{
				content: "";
				left: -60px;
				top: -15px;
				position: absolute;
				@include sprite($days);
			}

			.bid__guarantee::before{
				content: "";
				left: -60px;
				top: -15px;
				position: absolute;
				@include sprite($garantia);
			}	
		}
	}

	&__title{
		text-transform: uppercase;
		font: 16px "Ubuntu-L", Arial;
		color: white;
		line-height: 1.5;
		margin:0 0 25px 0;

		strong{
			font-family: "Ubuntu-B";
			display: block;
		}
	}
}