.button{
	margin-left: 15px;
	background: $yellow;
	padding: 8px 25px;
	border: 0;
	color: #333;
	font-size: 11px;
	border-radius: 4px;
	cursor: pointer;
	font: 12px "Ubuntu-M", Arial;
	cursor: pointer;
	border: 3px solid $yellow;
}
.button--order{
	font: 12px "Ubuntu-M", Arial;
	border-radius: 45px;
	padding: 8px 15px;
	display: block;
	border: 3px solid $yellow;
	margin: auto;

	&:active{
		border: 3px solid $yellow;
		background:white;
	}
}
.button__close{
	border: none;
    background: none;
    font-size: 25px;
    position: absolute;
    right: -70px;
    top: -40px;
    color: white;
}
.button--bid{
	width: 100%;
	margin: 0;
	height: 52px;
	font-size: 16px;
}
.button--more{
	font: 12px "Ubuntu-M", Arial;
	border-radius: 25px;
	padding: 8px 22px;
	display: block;
	margin: auto;	

	&:active{
		background:white;
	}
}
.button--request{
	padding: 8px 25px;

	&:active{
		background: transparent;
		color: white;
	}
}