.button{
	margin-left: 20px;
	background: $yellow;
	padding: 10px 28px;
	border: 0;
	color: #333;
	font-size: 11px;
	border-radius: 4px;
	cursor: pointer;
	font: 12px "Ubuntu-M", Arial;
	cursor: pointer;
}
.button--order{
	border-radius: 25px;
	padding: 10px 15px;
	display: block;
	margin: auto;
}
.button__close{
	border: none;
    background: none;
    font-size: 25px;
    position: absolute;
    right: -100px;
    top: -50px;
}