.footer1{
	background: #2b212c;
	width: 100%;
}
.footer{
    @include screen-md(740px);
	margin: auto;
	float: none;
	display: flex;
	padding: 15px 25px;	

	&__logo{
		display: flex;
		align-items: center;
	}
	.logotype--footer{
		padding-right: 10px;
		border-right: 1px solid #525252;
	}
	
	&__logo-desc{
		color: white;
		line-height: 1.5;
		padding-left: 10px;
		font: 10px "Ubuntu-L", Arial;
	
		& div{
			line-height: 1.5;
		}
	}
	&__contact{
		display: flex;
		align-items: center;
		font: 14px "Ubuntu-L", Arial;
		color: white;
		margin: 0 25px;
	
		& div{
			display: inline-block;
		}
	
		.footer__phone{
			margin-right: 10px;
		}
	
		.footer--social > div{
			padding: 0;
		}
	
		i{
			padding-right: 5px;
			color: #8f8b90;
		
			&:hover{
				color: white;
			}
		}
	}
	&__copyright{
		display: flex;
		align-items: center;
		font: 12px "Ubuntu-L", Arial;
		color: white;
	}
}