$yellow: #ffd801;

.header{
	color: white;
	background: url(../img/header_bg.jpg) center center #2B212C;
	background-size: cover;
	position: relative;

	.col-sm-6{
		padding: 0;
	}

	&__top-row{
		padding: 32px 20px 0 20px;
	}
	&__content{
		padding-bottom: 100px;
    	margin-top: 80px;
	}

	&__text{
		margin-top: 20px;
		font: 12px "Ubuntu-L", Arial;
	}

	&__list{
		padding: 0;
		margin: 40px 0 0 25px;
		font: 12px "Ubuntu-L", Arial;

		li{
			display: inline-block;
			margin-right: 60px;
			position: relative;

			&:before{
				content: "";
				position: absolute;
				@include sprite($range);
				height: 9px;
				width: 9px;
				top: 2px;
				left: -15px;
			}
		}	
	}		
}		
.title--header{
	max-width: 400px;
			
	strong{
		font:35px "Ubuntu-B", Arial; 
		position: relative;
		display: block;
		margin-bottom: 5px;

		&:before{
			content: "";
			position: absolute;
			height: 35px;
			background: $yellow;
			width: 6px;
			left: -25px;
			top: 5px;
		}
	}
}
.form__desc{
	display: block;
	font: 12px "Ubuntu-L", Arial;
	margin: 15px 0 0 25px;
	color: #a8a7a8;
}