.individ{
	height: 420px;
	background: url('../img/individ.jpg') center center #2B212C;
	display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 150px;

	&__content{
		margin-right: 15px;
	
		form{
			margin-top: 20px;
		}
	}
	&__title{
		color: white;
		display: block;
		font:35px "Ubuntu-M", Arial; 
		max-width: 300px;
	}
	&__subtitle{
		color: white;
		display: block;
		font:35px "Ubuntu-B", Arial; 
		max-width: 300px;
	}
}