.input{
	padding-left: 10px;
	font: 12px "Ubuntu-L", Arial;
	width: 130px;
	height: 35px;
	border: none;
	border-radius: 4px;
	margin-right: 5px;
	color: #333;
}
.bid--input{
	width: 100%;
	margin-bottom: 15px;
}