.map{
	height: 550px;
	position: relative;
}
.contacts{
	position: absolute;
    left: 40%;
    top: 45%;

		&__we{
			font: 38px "Ubuntu-B", Arial;
			color: #2c232b;
			display: block;
		}

		&__town{
			font: 38px "Ubuntu-M", Arial;
			color: #2c232b;
			display: block;
		}
}