.section__map{
	width: 100%;
}
.map{
	height: 550px;
	position: relative;
}
.contacts{
	position: absolute;
    left: 42%;
    top: 45%;
    width: 315px;


		&__we{
			font: 38px "Ubuntu-B", Arial;
			color: #2c232b;
			display: block;
		}

		&__town{
			font: 38px "Ubuntu-M", Arial;
			color: #2c232b;
			display: block;
		}
}