.menu{
	float: right;
	font: 12px Ubuntu-B, Arial;
	float: right;
	padding: 8px 15px;

	&:after{
		content: "";
		clear: both;
	}

	&__social{
		display: block;
		text-align: center;
		float: right;
	}

	&__social > div{
		font-size: 9px;
		padding-top: 10px;
		display: inline-block;

		i{
			font-size: 14px;
			padding-right: 5px;	
			color: #8f8b90;
			cursor: pointer;

			&:hover{
				color: white;
			}
		}
	}

	&__butt{
		cursor: pointer;
		padding:0 8px 0 20px;
		float: right;

		i{
		display: block;
		border: 2px solid #ffd801;
		font-size: 15px;
		padding: 7px 9px;
		}
	}
}
.active-menu{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.9);
	z-index: 1;
	display: none;
	// opacity: 0;
	justify-content: center;
    align-items: flex-end;
}
.menu-list{
	list-style-type: none;
	padding: 0;
	position: relative;
	padding-left: 100px;

	.active{
		color: $yellow;
	}	

	li{
		font: 31px 'Ubuntu-M', Arial;
		margin-bottom: 60px;
		text-transform: uppercase;
		position: relative;

		&:hover{
			color: $yellow;
		}
	}

	.lending::before{
		content: '';
		position: absolute;
		@include sprite($lending);
		left: -100px;
    	top: -10px;
	}
	.we::before{
		content: '';
		position: absolute;
		@include sprite($we);
		left: -100px;
    	top: -10px;
	}
	.portfolio::before{
		content: '';
		position: absolute;
		@include sprite($portfolio);
		left: -100px;
    	top: -10px;
	}
	.price::before{
		content: '';
		position: absolute;
		@include sprite($price);
		left: -100px;
    	top: -10px;
	}
	.contact::before{
		content: '';
		position: absolute;
		@include sprite($contacts);
		left: -100px;
    	top: -10px;
	}
}

