.portfolio{
	width: 100%;
	overflow: hidden;

	&__title{
		font: 29px "Ubuntu-M", Arial;
		margin: 50px 0 70px 0;
		text-align: center;
	}

	&__slides{
		height: 620px;
		width: 1924px;

		.portfolio__left{
			width: 590px;
			display: inline-block;
			img{
				float: left;
			}
		}

		.portfolio__center{
			width: 739px;
			margin: 0 -4px 0 -4px;
			display: inline-block;
			img{
				float: left;
			}
		}

		.portfolio__right{
			width: 595px;
			display: inline-block;
			img{
				float: left;
			}

			.portfolio__right-image{
				float: right;
			}
		}
	}

	&__cricle{
		font-size: 16px;
		color: $yellow;
		margin: 40px 0;
		text-align: center;

		i{
			margin-right: 15px;
		}
	}
}