.servis{
	float: none;
	width: 100%;

	&:after{
		content: '.';
		color: transparent;
		clear: both;
		float: right;
	}

	&__title{
	    font: 26px 'Ubuntu-M', sans-serif;
	    text-align: center;
	    margin-bottom: 47px;
	    padding-top: 15px;
	    display: block;
	}

	&__banner{
		display: flex;
	}

	&__item{
		flex-grow: 1;
		padding-top: 80px;
		margin-bottom: 15px;
		position: relative;
	}

	&__name{
		text-align: center;
		font: 14px "Ubuntu-B", Arial;
		display: block;
		margin-bottom: 15px;
	}

	&__desc{
		font: 9px "Ubuntu-L", Arial;
		color: #878787;
	}
}
.design::before{
	content: "";
	position: absolute;
    top: 20px;
    right: 65px;
	@include sprite($design);
}
.secutity::before{
	content: "";
	position: absolute;
    top: 20px;
    right: 81px;
	@include sprite($security);
}
.featlist::before{
	content: "";
	position: absolute;
    top: 20px;
    right: 74px;
	@include sprite($featlist);
}

.ideas::before{
	content: "";
	position: absolute;
    top: 20px;
    right: 77px;
	@include sprite($idea);
}