.servis{
	float: none;
	width: 100%;

	&:after{
		content: '.';
		color: transparent;
		clear: both;
		float: right;
	}

	&__title{
	    font: 26px 'Ubuntu-M', sans-serif;
	    text-align: center;
	    margin-bottom: 47px;
	    padding-top: 15px;
	    display: block;
	}

	&__banner{
		display: flex;
		margin-bottom: 26px;
	}

	&__item{
		flex-grow: 1;
		padding-top: 80px;
		margin-bottom: 15px;
		position: relative;
	}

	&__name{
		text-align: center;
		font: 14px "Ubuntu-B", Arial;
		display: block;
		margin-bottom: 15px;
	}

	&__desc{
		font: 11px "Ubuntu-L", Arial;
		color: #878787;
		padding: 0 5px;
	}

	&--design::before{
		content: "";
		position: absolute;
	    top: 20px;
	    right: 65px;
		@include sprite($design);
	}
	&--secutity::before{
		content: "";
		position: absolute;
	    top: 20px;
	    right: 75px;
		@include sprite($security);
	}
	&--featlist::before{
		content: "";
		position: absolute;
	    top: 20px;
	    right: 68px;
		@include sprite($featlist);
	}
	&--ideas::before{
		content: "";
		position: absolute;
	    top: 20px;
	    right: 74px;
		@include sprite($idea);
	}
}




