.tablet{
	margin-top: 102px;
	position: relative;

	&__items{
		position: absolute;
		color: #333;
    	top: 50px;
    	left: 140px;
	}

	&__list{
		font: 12px "Ubuntu-L", Arial; 
		list-style-type: none;

		b{	
			display: block;
			font: 12px "Ubuntu-B", Arial; 
			margin-bottom: 3px; 
		}

		li{
			margin-bottom: 15px;
			position: relative;
		}

		.tablet__unicle:before{
			content: "";
			position: absolute;
			left: -30px;
			top: 5px;
			@include sprite($first);
		}
		.tablet__technologies:before{
			content: "";
			position: absolute;
			left: -30px;
			top: 5px;
			@include sprite($second);
		}
		.tablet__terms:before{
			content: "";
			position: absolute;
			left: -30px;
			top: 5px;
			@include sprite($third);
		}
		.tablet__communications:before{
			content: "";
			position: absolute;
			left: -30px;
			top: 5px;
			@include sprite($four);
		}
	}
}